# Google Drive 연동

In [1]:
# from google.colab import drive
# drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [1]:
import pandas as pd

In [3]:
df = pd.read_csv("C:\\Users\\Windows\\Desktop\\대학교\\4학년 여름방학\\Big_AI\\파이썬기본\\pytest_basic\\income.csv", encoding = "cp949")

In [4]:
print(df)

       age          workclass    education  educationNumber  \
0       39          State-gov    Bachelors               13
1       50   Self-emp-not-inc    Bachelors               13
2       38            Private      HS-grad                9
3       53            Private         11th                7
4       28            Private    Bachelors               13
...    ...                ...          ...              ...
32556   27            Private   Assoc-acdm               12
32557   40            Private      HS-grad                9
32558   58            Private      HS-grad                9
32559   22            Private      HS-grad                9
32560   52       Self-emp-inc      HS-grad                9

             maritalStatus          occupation    relationship  race   gender  \
0            Never-married        Adm-clerical   Not-in-family     4     Male
1       Married-civ-spouse     Exec-managerial         Husband     4     Male
2                 Divorced   Handlers-cleaners   Not-in-family     4     Male
3       Married-civ-spouse   Handlers-cleaners         Husband     3     Male
4       Married-civ-spouse      Prof-specialty            Wife     3   Female
...                    ...                 ...             ...   ...      ...
32556   Married-civ-spouse        Tech-support            Wife     4   Female
32557   Married-civ-spouse   Machine-op-inspct         Husband     4     Male
32558              Widowed        Adm-clerical       Unmarried     4   Female
32559        Never-married        Adm-clerical       Own-child     4     Male
32560   Married-civ-spouse     Exec-managerial            Wife     4   Female

       hourPerWeek   nativeCountry  income
0               40   United-States       0
1               13   United-States       0
2               40   United-States       0
3               40   United-States       0
4               40            Cuba       0
...            ...             ...     ...
32556           38   United-States       0
32557           40   United-States       1
32558           40   United-States       0
32559           20   United-States       0
32560           40   United-States       1

[32561 rows x 12 columns]

# Python 기본

In [6]:
print(2020)
print(3+2)
print("안녕하세요")

2020
5
안녕하세요

In [7]:
pi = 3.14159265359
print(pi * 2)

6.28318530718

In [8]:
apple = 10
lemon, banana = 20, 50
fruit = apple + lemon + banana

print("apple : ", apple)
print("banana : ", banana)
print("fruit : ", fruit)

apple = 30
print("apple : ", apple)

apple :  10
banana :  50
fruit :  80
apple :  30